*{
    font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100vh;
}

form {
    padding: 40px ;
    display: flex;
    flex-direction: column;
    
}
header {
    background-color: #3C60A7;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.233);

}
.header1{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 6px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.233);
    height: 15px;

}
header img {
    width: 200px;
}
label, input, h1 {
    margin: 5px;
}
label, .inputtext {
    font-size: 20px;
}


h1{
    margin-bottom: 20px;
    border-bottom: 2px rgba(128, 128, 128, 0.418) solid;
    font-size: 40px;
}

.content {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    flex-direction: column;
}
.formulario{
    
     
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.233);
    border-radius: 10px;
   
    

}

input {
    display: flex;
    border-radius: 9px;
    border: 2px rgba(128, 128, 128, 0.418) solid;
   
    height: 30px;
}
.buttonsubmit {
    
    display: flex;
    align-items: end;
    justify-content: end;
}
.submit {
    display: block;
    
    margin: 20px;
    margin-right: 5px ;
    width:100px;
}

.confirmarident{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    font-size: 35px;
}
h3 {
    font-size: 14px;
}
select {
    display: flex;
    border-radius: 9px;
    border: 2px rgba(128, 128, 128, 0.418) solid;
   
    height: 30px;
}